/* :root { */
/* border: 1px solid black; */
/* } */

body,
html {
  margin: 0;
  padding: 0;
}

header {
  font-size: 3rem;
  text-align: center;
}

li {
  max-width: 210mm;
  min-height: 100vh;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
}

.rotationkey {
  display: flex;
  width: 3rem;
  height: 3rem;
  transition-duration: 500ms;
}

.rotationkey:hover {
  transform: translate(20px);
  transform: rotate(45deg);
}

ul {
  list-style-type: none;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
}

#portrait,
#book {
  width: 100%;
  height: auto;
}

#lifespan {
  text-align: center;
}
