@import "ID.css";
@import "CLASS.css";
@import "smallscreens.css";

:root {
  background-color: rgba(215, 164, 80, 0.5);
  overflow-x: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: cursive;
  margin: 0;
  text-shadow: 0.5rem 0.5rem rgba(186, 156, 41, 0.6);
}

div.bullet:nth-child(even) {
  background-color: white;
  background: rgb(214, 132, 80);
  background: linear-gradient(
    197deg,
    rgba(214, 132, 80, 1) 0%,
    rgba(214, 164, 80, 1) 40%,
    rgba(214, 186, 80, 1) 50%,
    rgba(214, 164, 80, 1) 60%,
    rgba(214, 132, 80, 1) 100%
  );
}

div.bullet .flyingImage {
  /* height: 100vh; */
  height: 75%;
  width: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

div.App div:first-child {
  background: linear-gradient(
    to bottom,
    rgba(144, 63, 13, 0.3),
    rgba(215, 164, 80, 0)
  );
  height: 100vh;
}
