@import "ID.css";
@import "CLASS.css";
@import "smallscreens.css";

:root {
  background-color: rgba(215, 164, 80, 0.5);
  overflow-x: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: cursive;
  margin-top: 0;
  text-shadow: 0.5rem 0.5rem rgba(186, 156, 41, 0.6);
}

div.bullet:nth-child(even) {
  background-color: white;
  /* z-index: 0; */
}

div.bullet:nth-child(even) .flyingImage {
  border: 6px solid rgb(144, 63, 13);
}

ul {
  list-style-type: none;
  padding: 0;
}

div.App div:first-child {
  background: linear-gradient(
    to bottom,
    rgba(144, 63, 13, 0.3),
    rgba(215, 164, 80, 0)
  );
  height: 100vh;
}
