.App {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.bullet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 1vh 0;
  padding: 1vh 0;
}

.flyingtext {
  display: flex;
  justify-self: flex-end;
  position: relative;
  max-width: 210mm;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  margin-bottom: 1vh;
  transition-duration: 2500ms;
  transition-timing-function: ease-out;
}

.flyingtext p {
  background: rgb(186, 156, 41);
  background: linear-gradient(
    270deg,
    rgba(186, 156, 41, 1) 0%,
    rgba(214, 186, 80, 1) 50%,
    rgba(186, 156, 41, 1) 100%
  );
  padding: 1rem;
  border-radius: 1rem;
}

.keyIcon {
  display: block;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  transform: translate(0, 50%);
}

.flyingImage {
  position: absolute;
  transition-duration: 2000ms;
  opacity: 0;
  z-index: 0;
  transform: translate(-50%);
}

.rotationkey {
  display: flex;
  width: 3rem;
  height: 3rem;
  transition-duration: 500ms;
}

.rotationkey:hover {
  transform: translate(20px);
  transform: rotate(45deg);
}
