#book {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 50vh;
  transition-duration: 300ms;
}

#book:hover {
  transform: scale(1.05);
}

#bookdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to top,
    rgba(144, 63, 13, 0.3),
    rgba(215, 164, 80, 0)
  );
}

#bookrecommendation {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem auto;
  max-width: 60vw;
}

#lifespan {
  text-align: center;
  font-family: cursive;
}

#portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  clip-path: circle(45% at 50% 50%);
}

#summary {
  font-size: 1.5rem;
  margin: 5vh 5vw 30vh 5vw;
  text-align: justify;
}

