@media (max-width: 600px) {
  .bullet {
    min-height: 80vh;
  }

  #bookrecommendation {
    font-size: 1.5rem;
    text-align: justify;
    /* margin: 1rem; */
    margin: 2rem auto;
    max-width: 80vw;
  }
}
